#container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

header {
    width: 90%;
    margin: 1em 0;
    padding: 0 5%;
    background: #cfd8dc; /*blue grey 100*/
    flex: initial; /*flex: 0 1 auto*/
}

nav {
    width: 90%;
    margin: 1em 0;
    padding: 1em 5%;
    background: #29b6f6; /*light blue 400*/
    flex: initial; /*flex: 0 1 auto*/
}

/*After submitting, name, price, and total go in these tables.*/
#grocery-list, #grocery-total  {
    width: 100%;
    margin: 0;
    padding: 1em 0;
    font-family: 'Merriweather', serif;
    line-height: 2.4;
    font-weight: 400;
    display: none;
    flex: initial; /*flex: 0 1 auto*/
}

/*Media queries for fonts within tables.*/
@media all and (min-width: 300px) {
    #grocery-list, #grocery-total  {
        font-size: .825em;
    }
}

@media all and (min-width: 400px) {
    #grocery-list, #grocery-total  {
        font-size: .875em;
    }
}

@media all and (min-width: 600px) {
    #grocery-list, #grocery-total  {
        font-size: 1em;
    }
}

/*Classes for cells (td) within tables.*/
.grocery-name, #total-name {
    width: 55%;
    margin: 0;
    padding: 0 0 0 5%;
}

.grocery-cost, #total-amount {
    width: 20%;
    margin: 0;
    padding: 0;
}

.grocery-remove, #total-blank {
    width: 20%;
    margin: 0;
    padding: 0;
}

.grocery-remove {
    color: #fff;
    background: #f44336; /*red 500*/
    text-align: center;
    cursor: pointer;
}

/*Section contains divs where users enter names and prices.*/
section {
    width: 90%;
    margin: 1em 0;
    padding: 1em 5%;
    background: #cfd8dc; /*blue grey 100*/
    flex: initial; /*flex: 0 1 auto*/
    display: flow-root;
}

/*Media queries for fonts within section.*/
@media all and (min-width: 300px) {
    section {
        font-size: .825em;
    }
}

@media all and (min-width: 400px) {
    section {
        font-size: .875em;
    }
}

@media all and (min-width: 600px) {
    section {
        font-size: 1em;
    }
}

/*Divs where users enter names and prices.*/
#input-grocery-name, #input-grocery-cost {
    padding-left: 2.5%;
    font-family: 'Merriweather', serif;
    line-height: 2.4;
    font-weight: 400;
    outline: none;
    background: #eceff1; /*blue grey 50*/
    float: left;
}

/*Media queries for the divs.*/
@media all and (min-width: 300px) {
    #input-grocery-name {
        width: 80%;
    }

    #input-grocery-cost {
        width: 80%;
    }
}

@media all and (min-width: 400px) {
    #input-grocery-name {
        width: 55%;
        margin-right: 5%;
    }

    #input-grocery-cost {
        width: 35%;
    }
}

/*H1 tag and its media queries.*/
h1 {
    font-family: 'Francois One', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

@media all and (min-width: 300px) {
    h1 {
        font-size: 1.2em;
    }
}

@media all and (min-width: 400px) {
    h1 {
        font-size: 1.4em;
    }
}

@media all and (min-width: 600px) {
    h1 {
        font-size: 1.6em;
    }
}

/*H2 tag and its media queries.*/
h2 {
    font-family: 'Francois One', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

@media all and (min-width: 300px) {
    h2 {
        font-size: 1em;
    }
}

@media all and (min-width: 400px) {
    h2 {
        font-size: 1.2em;
    }
}

@media all and (min-width: 600px) {
    h2 {
        font-size: 1.4em;
    }
}

/*P tag and its media queries.*/
p {
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    font-weight: 400;
}

@media all and (min-width: 300px) {
    p {
        font-size: .825em;
    }
}

@media all and (min-width: 400px) {
    p {
        font-size: .875em;
    }
}

@media all and (min-width: 600px) {
    p {
        font-size: 1em;
    }
}