#container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

/*Clearfix for #container (accomplished with pseudo-element technique)*/
#container::after {
    clear: both;
    content: "";
    display: table;
}

header {
    width: 100%;
    background: #e6ee9c;
    margin: 0;
    padding: 0;
    float: left;
}

/*After submission, grocery name, price, and total go here*/
#grocery-list, #grocery-total  {
    width: 90%;
    margin: 0 auto;
    padding: 1em 5%;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    line-height: 2.4;
    display: none;
}

#grocery-list td, #grocery-total td {
      border-bottom: 1px solid #fafafa;
}

/*Classes for cells (td) within tables*/
.grocery-name, #total-name {
    width: 40%;
    margin: 0;
    padding: 0 5%;
}

.grocery-cost, #total-amount {
    width: 20%;
    margin: 0;
    padding: 0 5%;
}

.grocery-remove, #total-blank {
    width: 10%;
    margin: 0;
    padding: 0 5%;
}

.grocery-remove {
    background: #ffeb3b;
    text-align: center;
    cursor: pointer;
}

/*Users enter grocery name and price here*/
dialogue {
    width: 90%;
    margin: 1em 5%;
    padding: 0;
    float: left;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    line-height: 2.4;
}

#input-grocery-name, #input-grocery-cost  {
    margin: 1em 5%;
    padding: 0.4em 5%;
    outline: none;
    border-bottom: 1px solid #e0e0e0;
    float: left;
    background: #fff;
}

@media all and (min-width: 300px) {
    #input-grocery-name, #input-grocery-cost  {
        width: 80%;
    }
}

@media all and (min-width: 600px) {
    #input-grocery-name, #input-grocery-cost  {
        width: 30%;
    }
}

/*Makes font color grey*/
/*.placeholder {
    color: #000;
}*/

footer {
    width: 80%;
    margin: 1em 10%;
    padding: 0;
    float: left;
    text-align: right;
}

/*The fonts*/
h1 {
    font-family: 'Francois One', sans-serif;
    font-size: 1.6em;
    line-height: 1.5;
    text-align: center;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 1em;
    line-height: 2.4;
}